@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: Montserrat, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-size: 0.7rem;
  width: 100%;
}

h1 {
  font-size: calc(8px + 2vmin);
}

h2 {
  font-size: calc(7px + 2vmin);
}

header {
  background-color: #282c34;
  padding: 0px;
  font-size: calc(0.7rem);
  color: white;
  /* position: relative; */
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
}

.MetaMaskDIV {
  
  align-items: right;
}

.walletInfoDIV {
  position:fixed;
  right: 60px;
  top: -15px;
  width:fit-content;
  /* max-width: 800px; */
  justify-content: right;
}

.header--mm--username{

}

.header--username {
 line-height: 75%;
 font-weight: bold;
 font-size: 1rem;
}

.header--balance {
  position: fixed;
  line-height: 75%;
  top:40px;
  right: 10px;
}


.mainpage{
margin-left: 5px;
}

button {
 
  font-size:0.7rem;
  font-family:Arial;
  width:4rem;
  height:1.5rem;
  border-width:1px;
  color:#fff;
  border-color:#314179;
  border-radius: 4px;
  font-weight:bold;
  
  box-shadow:inset 0px 1px 0px 0px #7a8eb9;
  background:linear-gradient(#637aad, #5972a7);
}

button:hover {
  background: linear-gradient(#5972a7, #637aad);
}

table {
 border: 1px solid;
 padding: 10px;
 border-radius: 3%;
 border-color: #282c34;
 
 width: 100%
}

th, td {
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: rgb(80, 205, 255);}

.newUserForm {
  border: 1px solid;
  padding: 10px;
  border-radius: 3%;
  border-color: #282c34;
}

.bannedTR {
  background-color: red;
}

