@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: Montserrat, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 0.7rem;
}

h1 {
  font-size: calc(8px + 2vmin);
}

h2 {
  font-size: calc(7px + 2vmin);
}

header {
  background-color: #282c34;
  /* min-height: 10vh; */
  display: flex;
  flex-direction: row;
  align-items: right;
  left:0;
  padding: 0.5rem;
  justify-content: center;
  font-size: calc(0.7rem);
  color: white
}

.MetaMaskDIV {

}

.walletInfoDIV {
  right: 0;
  max-width: fit-content;
}

.mainpage{
margin-left: 5px;
}

button {
  font-size: 1em;
  margin: 0.5rem;
}

table {
 border: 1px solid;
 padding: 10px;
 border-radius: 3%;
 border-color: #282c34;
 
 width: 100%
}

th, td {
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: rgb(80, 205, 255);}

.newUserForm {
  border: 1px solid;
  padding: 10px;
  border-radius: 3%;
  border-color: #282c34;
}

.bannedTR {
  background-color: red;
}
.notbannedTR {

}
